@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1c0f00;
    --card: #ffffff;
    --card-foreground: #1c0f00;
    --popover: #ffffff;
    --popover-foreground: #1c0f00;
    --primary: #0a0e1a;
    --primary-foreground: #f6f9ff;
    --secondary: #f4f8fa;
    --secondary-foreground: #0a0e1a;
    --muted: #f4f8fa;
    --muted-foreground: #676f8d;
    --accent: #f4f8fa;
    --accent-foreground: #0a0e1a;
    --destructive: #ff3b30;
    --destructive-foreground: #f6f9ff;
    --border: #dde1e9;
    --input: #dde1e9;
    --ring: #1c0f00;
    --radius: 0.5rem;
    --chart-1: #e66c41;
    --chart-2: #45a37d;
    --chart-3: #3e5961;
    --chart-4: #ffc858;
    --chart-5: #ffb044;
  }

  .dark {
    --background: #1c0f00;
    --foreground: #f6f9ff;
    --card: #1c0f00;
    --card-foreground: #f6f9ff;
    --popover: #1c0f00;
    --popover-foreground: #f6f9ff;
    --primary: #f6f9ff;
    --primary-foreground: #0a0e1a;
    --secondary: #2a2e38;
    --secondary-foreground: #f6f9ff;
    --muted: #2a2e38;
    --muted-foreground: #8c96a5;
    --accent: #2a2e38;
    --accent-foreground: #f6f9ff;
    --destructive: #8f1d13;
    --destructive-foreground: #f6f9ff;
    --border: #2a2e38;
    --input: #2a2e38;
    --ring: #cad3e6;
    --chart-1: #3399ff;
    --chart-2: #339966;
    --chart-3: #cc8833;
    --chart-4: #9955cc;
    --chart-5: #d94c73;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.rounded-lg {
  border-radius: 8px !important;
}

.rounded-md {
  border-radius: 6px !important;
}